<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MCS</title>
    </head>
    <body>          
          <h1 style="text-align: center;">
            MCS
          </h1>
          <div style="text-align: center;">
            Bienvenido a la pagina central de MCS. A continuacion la lista de aplicaciones disponibles a este nivel.
          </div>
          <p><p>
          <div style="text-align: center;">
            <h3>
                <a href="{% url 'index' %}">Farmacias Plazoleta</a>
            </h3>
          </div>
    </body>
</html>                