<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MCS</title>
    </head>
    <body>       
          <div>         
            <!-- Inserción de la imagen -->
            <div style="text-align: center;">
              <img src="/static/mcs/logo_mcs.png" alt="Logo de MCS" style="max-width: 200px; height: auto; border: none;">
          </div>
            <div style="text-align: center;" class="lead">
              Bienvenido a la pagina central de MCS. A continuacion la lista de aplicaciones disponibles a este nivel.
            </div>
          <div>  
          <p><p>

          <div style="text-align: center;">
            <h3>
                <button type="button" class="btn btn-outline-success btn-lg" onclick="window.location.href='{% url 'index' %}';">Farmacias Plazoleta</button>
            </h3>
          </div>
          <div style="text-align: center;">
            <h3>
                <button type="button" class="btn btn-outline-success btn-lg" onclick="window.location.href='#';">Ingenio Ledesma</button>
            </h3>
          </div>

    </body>
</html>                